
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suivez Ôdélices</title>
    <style>
        .social-icons {
            display: flex;
            gap: 10px;
        }
        .social-icons a {
            display: inline-block;
        }
        .social-icons img {
            width: 40px; /* Ajuste la taille des icônes */
            height: 40px;
        }
    </style>
</head>
<body>

    <h3>Suivez Ôdélices</h3>
    <div class="social-icons">
        <a href="https://www.facebook.com/" target="_blank">
            <img src="facebook.png" alt="Facebook">
        </a>
        <a href="https://www.instagram.com/" target="_blank">
            <img src="instagram.png" alt="Instagram">
        </a>
        <a href="https://www.pinterest.com/" target="_blank">
            <img src="pinterest.png" alt="Pinterest">
        </a>
        <a href="https://www.twitter.com/" target="_blank">
            <img src="twitter.png" alt="Twitter">
        </a>
        <a href="https://www.youtube.com/" target="_blank">
            <img src="youtube.png" alt="YouTube">
        </a>
        <a href="https://rss.com/" target="_blank">
            <img src="rss.png" alt="RSS">
        </a>
    </div>

</body>
</html>